.header-div {
  height: 500px;
  width: 100vw;
  display: grid;
  text-align: center;
  padding-top: 2em;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-rows: 6fr 1fr;
  background-color: #588157;
  color: #ffffff;
  background-image: url('../images/black-twill.png');
}

#user-icon {
  grid-column: 2;
  grid-row: 2;
}
#profile-name {
  grid-column: 2;
  grid-row: 3;
}
